<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var images=JSON.parse("{{op|escapejs}}")
        console.log(images)
        for(var i=0; i<images.length; i++) {
            var image = new Image();
            image.src = 'data:image/png;base64,'+images[i];
            document.body.appendChild(image);

        }
    </script>
    <br>
    <a href="{% url 'image' %}" >Previous Page</a>
</body>
</html>